/* html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
} */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.8em;
    text-transform: none;
    letter-spacing: .075em;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #e7bd74;
    background-color: rgba(34,28,28) !important;
    display: block;
  }


.full-height {
    height: 100vh;
}
nav ul.pagination{
    float: center !important;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


.table-hover tbody tr:hover  {
    color: white !important;
    background-color: transparent !important;
  }